/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-12-14, 15:48:46
    Author     : Halva
*/
$elastic: '';
$elastic-body-height: 300px;
$elastic-body-width: 50%;
$elastic-body-margin: (100% - $elastic-body-width)/2;
$elastic-body-margin-initial: -100%;
$elastic-body-color: #cccccc;
$elastic-body-top: 30%;
 
div#elastic-slider-container {
    position: fixed;
    width: 100%;
    top: 25%;
    height: $elastic-body-height;
    z-index: 9999999;
        
    .elastic-slider-body {
        position: absolute;
        top: 0;
        height: $elastic-body-height;
        width: $elastic-body-width;
        margin: 0 $elastic-body-margin 0 $elastic-body-margin-initial;
        background-color: $elastic-body-color;
    }
    
    .elastic-slider-body img {
        max-width: 100%;
    }
    
    .close-tag {
        display: block;
        width: 20px;
        height: 20px;
        background-color: #000;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px; 
    }
     
    .elastic-slider-body-intro {
        animation-name: elasticIntro;
        animation-duration: 1s;
        animation-fill-mode: both;
    }
     
    .elastic-slider-body-outro { 
        animation-name: elasticOutro;
        animation-duration: 1s;
        animation-fill-mode: both;
    }
    
    @import 'elastic-slider-anim-horizontal';
}